# ---------------------
# Django
# ---------------------
django
django-debug-toolbar
django-cache-machine


# ---------------------
# Testing
# ---------------------
mock
coverage
django-test-coverage


# ---------------------
# Database
# ---------------------
south


# ---------------------
# Utilities
# ---------------------
markdown
