@color: #8240e9;
@width: 90%;

@font-face {
    font-family: 'Folk';
    src: url('/static/font/Folksolid-webfont.eot');
    src: url('/static/font/Folksolid-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/font/Folksolid-webfont.woff') format('woff'),
         url('/static/font/Folksolid-webfont.ttf') format('truetype'),
         url('/static/font/Folksolid-webfont.svg#Folksolid') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Link Color and Styles */
a, a:active, a:visited { color: @color; }
a:hover { background: @color; color: white; text-decoration: none; }


/* Custom highlight */
::-moz-selection{ background:@color; color:#fff; text-shadow: none; }
::selection { background:@color; color:#fff; text-shadow: none; }

body{
    color: #444;
}
body:after{
  content: url('/static/img/headline.png');
  display: none;
}
header, #main, footer{
  margin: 0 auto;
  width: @width;
}

.navigation (@width: 170px) {
    a{
      height: 100px;
      margin: 0 auto;
      width: @width;
    }
    a:hover{
        background-position-y: -88px;
    }
}

header{
    display:block;
    margin-bottom: 75px;
    ul{
        list-style: none;
        margin:0 auto;
        padding:10px 0;
    }
    li{
        float: right;
        padding: 15px 0;
    }
    .home{
        float:left;
        a{
          background: url('/static/img/home.png') no-repeat 0px 10px;
        }
        .navigation;
    }
    .about{
        padding-right: 75px;
        a{
          background: url('/static/img/about.png') no-repeat 0px 10px;
        }
        .navigation(210px);
    }
    .code{
        a{
          background: url('/static/img/code.png') no-repeat 0px 10px;
        }
        .navigation(175px);
    }
}
.large_image{
    /* For headline images... */
    height: 620px;
    margin: 0 auto 50px;
    width: 950px;
}
.headline{
    .home_page{
        background: url('/static/img/headline.png') no-repeat center center;
        .large_image;
    }
    .pagination{
        background: url('/static/img/pagination.png') no-repeat center center;
        .large_image;
    }
    .about_headline{
        background: url('/static/img/about_headline.png') no-repeat center center;
        .large_image;
    }
    .what_font{
        background: url('/static/img/what_font.png') no-repeat center center;
        margin-top: 50px;
        .large_image;
    }
    .what_framework{
        background: url('/static/img/what_framework.png') no-repeat center center;
        .large_image;
        height: 530px;
    }
}
.screencast{
    margin: 100px 0 150px;
}
.description{
    float: left;
    font-size: 16px;
    line-height: 1.5;
    width: 33%;
    h2{
        font: normal 55px 'Folk', sans-serif;
        margin: 0 auto 35px;
        width: 100%;
      a{
          display: inline-block;
          padding: 10px;
          text-transform: uppercase;
      }
    }
    p{
        text-align: justify;
    }
}
.content{
    float: right;
    width: 63%;
    iframe{
      display: block;
      margin: 0 auto;
    }
}
.pages{
    margin: 0 auto 50px;
    width: @width;
    a{
        height: 100px;
        width: 280px;
    }
    a:hover{
        background-position-y: -90px;
    }
    .prev_page{
        background: url('/static/img/prev.png') no-repeat 0 12px;
        float: left;
    }
    .next_page{
        background: url('/static/img/next.png') no-repeat 0 10px;
        float: right;
    }
}
.super_logo{
    margin: 0 auto;
    height: 75px;
    width: 75px;
}
footer{
    display: block;
    margin: 75px auto 20px;
    a.super_logo{
        background: url('/static/img/super_z.png') no-repeat center center;
    }
    a.super_logo:hover{
        background: url('/static/img/super_z_color.png') no-repeat center center;
    }
}

/* Just a little image preloading. */
footer:after{
    content: url('/static/img/super_z_color.png');
    display: none;
}
