a,a:active,a:visited{color:#8240e9;}
a:hover{background:#8240e9;color:white;text-decoration:none;}
::-moz-selection{background:#8240e9;color:#fff;text-shadow:none;}
::selection{background:#8240e9;color:#fff;text-shadow:none;}
body{color:#444;}
header,#main,footer{margin:0 auto;width:90%;}
header{display:block;margin-bottom:75px;}header ul{list-style:none;margin:0 auto;padding:10px 0;}
header li{float:right;padding:15px 0;}
header .home{float:left;}header .home a{background:url('/static/img/home.png') no-repeat 0px 10px;}
header .home a{height:100px;margin:0 auto;width:170px;}
header .home a:hover{background-position-y:-88px;}
header .about{padding-right:75px;}header .about a{background:url('/static/img/about.png') no-repeat 0px 10px;}
header .about a{height:100px;margin:0 auto;width:210px;}
header .about a:hover{background-position-y:-88px;}
header .code a{background:url('/static/img/code.png') no-repeat 0px 10px;}
header .code a{height:100px;margin:0 auto;width:175px;}
header .code a:hover{background-position-y:-88px;}
.no-js header a:hover{background:#8240e9;color:white;}
.headline{background:url('/static/img/headline.png') no-repeat center center;height:600px;margin:0 auto;width:950px;}
.screencast{margin:100px 0 125px;}
.description{float:left;font-size:16px;line-height:1.5;margin:90px 0 0;max-width:29%;}.description p{padding:0 5%;text-align:justify;}
.description ul{list-style:none;margin:0;padding:25px 5%;}
.content{float:right;min-width:65%;}.content h2{font-size:28px;margin-bottom:35px;}
.super_logo{margin:0 auto;height:75px;width:75px;}
footer{display:block;margin:125px auto 20px;}footer a.super_logo{background:url('/static/img/super_z.png') no-repeat center center;}
footer a.super_logo:hover{background:url('/static/img/super_z_color.png') no-repeat center center;}
footer:after{content:url('/static/img/super_z_color.png');display:none;}
